body{
  background-color: #1b262c;
}

h1{
  font-size: 50px;
  padding-top: 2%;
  padding-left: 1%;
  font-family: "calibri";
  color: #bbe1fa;
}


h2{
  font-family: "calibri light";
  color: white;
  padding: 2%;
}


p{
  font-family: "calibri light";
  color: white;
  padding-left: 2%;
  padding-right: 2%;
}

ul{
  margin: 0% 10% 0% 10%;
}


footer{
  text-align: center;
  margin-top: 20%;
  color: white;
}