body{
	background-color: #1b262c;
}

h1{
	padding-top: 3%;
	padding-left: 1%;

	font-family: "calibri";
	color: #bbe1fa;
	text-align: center;
}

h2{
	font-family: "calibri light";
	color: white;
	text-align: center;
}
h4{
	font-family: "calibri light";
	color: white;
	
}
form{
	padding-top: 3%;
	padding-left:30%;
	padding-right: 30%;
	text-align: center;
	
}
.btn{
	margin-top:3%;
} 
input{
	margin-bottom: 5%;
}

footer{
	text-align: center;
	margin-top: 5%;
	color: white;
}